<HTML>
<TITLE>PPTS Monthly Report -From: <TMPL_VAR NAME="STARTMONTH"> - <TMPL_VAR NAME="TODAY"></TITLE>
<style type=text/css>
  .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 11pt;
  }
</style>



<BODY BGCOLOR="#29085a" Text="#29085a">
<h2><font family="Verdane, Arial, Helvetica" color="white">PPTS Monthly Report - <FONT COLOR="#ffc842">From: <TMPL_VAR NAME="STARTMONTH"> -  <TMPL_VAR NAME="TODAY"></font></font></h2>
<table><tr><td>
<form><input type="button" value="To The Board" onClick="window.open('../index.cgi','_top')"></form>
</td><td></form>
</td></tr>
<tr><td colspan="2">
<font family="Verdane, Arial, Helvetica" color="white">Choose Month/Year:</font> 
<form action="myoldreport.cgi" method="post">
<select name="chosen_month">
<option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option value="4">Apr</option>
<option value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select>
<select name="chosen_year">
<option value="2000">2000</option>
<option value="2001">2001</option>
</select>
<input type="submit" value="Run Report">
</form></td>
</tr></table>
<table border=1 cellpadding=0 cellspacing=0 bgcolor="#ffc842" bordercolor="white">
<TMPL_LOOP NAME="MONTH_LOOP">
<TMPL_IF NAME="EMPTY">
<tr><td class="pstyle">
<b>Client Name:</b></td><td class="pstyle"> <TMPL_VAR NAME="CNAME"></td></tr>
<tr><td class="pstyle"><b>Project Name:</b></td><td class="pstyle"><TMPL_VAR NAME="PNAME"></td></tr>
<tr><td class="pstyle"><b>Time per Employee:</b></td><td>
<table cellpadding=1 cellspacing=1>
<TMPL_LOOP NAME="LOOP">
<tr><td bgcolor="CFCFCF" class="pstyle"><TMPL_IF NAME="USERNAME"><b>Name:</b>  <TMPL_VAR NAME="USERNAME">&nbsp;</td><td bgcolor="ACACAC" class="pstyle">
<b>Time: </b> <TMPL_VAR NAME="PARTIAL"></TMPL_IF>&nbsp;</td></tr>
</TMPL_LOOP>
</table>
</td></tr>
<tr bgcolor><td class="pstyle" >
<font color="darkpink"><b>TOTAL:</b></font></td><td  class="pstyle">
<font color="darkpink"><TMPL_VAR NAME="TOTAL"></font></td></tr>
<tr bgcolor="green"><td colspan=2>&nbsp;</td></tr>
</TMPL_IF>
</TMPL_LOOP>
</table>
</BODY>
</HTML>

