<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<yabb charset>" />
    <script type="text/javascript" src="/ddtabmenufiles/ddtabmenu.js"> 
    </script>
	
    <!-- CSS for Tab Menu -->
    <link rel="stylesheet" type="text/css" href="/ddtabmenufiles/solidblocksmenu.css" />
    <script type="text/javascript">
	ddtabmenu.definemenu("ddtabs3", 1) //initialize Tab Menu #3 with 2nd tab selected
    </script>
    <script language="JavaScript1.2" type="text/javascript">
    <!--
    //force no cache
	    if ((navigator.appVersion.substring(0,1) == "5" && navigator.userAgent.indexOf('Gecko') != -1) ||
		 navigator.userAgent.search(/Opera/) != -1) {
		document.write('<meta http-equiv="pragma" CONTENT="no-cache" />');
	    }
    //scroll fix for IE
	    window.onload = function () {
		if(document.all) {
		    var codeFix = document.all.tags("div");
		    for (var codeI = 0; codeI < codeFix.length; codeI++) {
			if (codeFix[codeI].className == "scroll" &&
			    (codeFix[codeI].scrollWidth > codeFix[codeI].clientWidth ||
			    codeFix[codeI].clientWidth == 0))
			    
			    codeFix[codeI].style.height = (codeFix[codeI].clientHeight + 34) + "px";
		    }
		}
	    }
    
    // -->
	</script>
	
    <style type="text/css">
	table {font-family: Book Antiqua; font-size: 10pt; color: #230000;}
	a:link {color: #394A54; text-decoration: none; }
	a:visited {color: #394A54; text-decoration: none; }
	a:hover {color: black; text-decoration: none; }
	a#side {color: white; text-decoration: underline; font-weight: bold; }
	td#side {padding-left: 20; }
	td#content {padding-left: 5; padding-right: 5; padding-top: 10; padding-bottom: 20; }
    </style>
    <link rel="stylesheet" type="text/css" href="/sddm.css" >
    <title><yabb title></title>
    <yabb style> 
</head>
<body>
<div align="center" >
    <table width="800" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#EBFFAE">
    <tr>
	<td width="100%">
	    <a href="/index.php"><img src="<yabb images>/title4.jpg"
				    alt="YaBB - Yet another Bubble Board" border="0" /></a>
	</td>
    </tr>
    <tr>
	<td width="100%" >
	    <table width="100%">
	    <tr>
		<td width="100%" colspan="2">
		    <table border="0" width="100%" id="table2" cellspacing="0" cellpadding="0">
			<tr>
			<td width="800">
			    <div id="ddtabs3" class="solidblockmenu">
				<ul>
				<li><a href="/" rel="sc1">Home</a></li>
				<li><a href="/techspace.php" rel="sc2">TechSpace</a></li>
				<li><a href="/projects.php" rel="sc3">Projects</a></li>
				<li><a href="/training.php">Training</a></li>
				<li><a href="/myspace.php">My Space</a></li>
				<li><a href="galleries/Bubble%20Gallery/index.htm">Gallery</a></li>
				<li><a href="/cgi-bin/forum/YaBB.pl">Forum</a></li>
				<li><a href="/about.php">About us</a></li>
				</ul>
			    </div>
			</td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td valign="middle" colspan="2">
		    <table width="100%" background="http://localhost/images/yabbbg.jpg">
		    <tr>
			<td width="40%">
			    <yabb uname><yabb im>
			</td>
			<td width="40%">
			    <yabb menu>
			</td>
			<td width="40%">
			    <yabb searchbox>
			</td>
		    </tr>
		    </table>
		</td>
	    </tr>
	    </table>
	</td>
    </tr>
    <tr>
	<td>
	    <yabb main>	
	</td>
    </tr>
    <tr>
	<td width="100%" colspan="3" align='center'>
		|<a href="/galleries/Bubble%20Gallery/index.htm">Gallery</a> 
		|<a href="/cgi-bin/bubbleforum/YaBB.pl">Forum </a>|
		<a href="/ebook.php">E-Book</a> |
		<a href="/myspace.php">My Space</a> |
		<a href="/advertise.php">Advertise</a> |
		<a href="/contact.php">Contact us </a> | </font>
	</td>
    </tr>
    <tr>
	<td width="800" colspan="2" height="10" bgcolor="#003300" align='center'>
	<font size="1" color='white'> © 2007, Bubble Inc.,</font>
        </td>
    </tr>
    </table>
</div>		    
<!-- <br /><br /> -->
<div id="container">
    <table width="800" align="center" cellpadding="0" cellspacing="0" border="0"  >

<!--
<tr>
	<td>
	<div class="copyright" style="text-align: center;">
	<yabb copyright><br /><br />
	</div>

	</td>
</tr>
-->

    </table>
</div>
</body>
</html>
