<html>
  <head>
    <title>Status has been updated.</title>
  </head>
 <BODY onLoad="window.open('index.cgi', 'parent');window.close()" BGCOLOR="#ffc842" TEXT="#29085a"> 
<br>
    <table border="0">
      <tr>
        <td><tmpl_var name="MESSAGE"></td>
      </tr>
    </table>
    <form><input type="Button" value="Close Window" onClick="window.close()"></form>
  </body>
</html>

  
