<HTML>
<HEAD>
  <TITLE>Worker Info</TITLE>
  <style type=text/css>
  .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 10pt;
        margin-left: 6px;
        margin-right: 6px;
  }
  </style>
</HEAD>

<BODY BGCOLOR="#ffc842" TEXT="#29085a">
<H2><font face="Arial, Helvetica">Worker Info:</font></H2>
<br>
<H2><font face="Arial, Helvetica"><TMPL_VAR NAME="LNAME">, <TMPL_VAR NAME="FNAME"></font></H2>
<FORM ACTION="modifyWorkers.cgi" METHOD="POST">
<TABLE BORDER="0">
<!--<TR>
<TD CLASS="pstyle" BGCOLOR="AAAAAA">
  <B>First Name: </B>
</TD>
<TD  CLASS="pstyle" BGCOLOR="CCCCCC">
  <TMPL_VAR NAME="FNAME">
</TD>
</TR>
<TR>
<TD CLASS="pstyle"  BGCOLOR="AAAAAA">
  <B>Last Name: </B>
</TD>
<TD CLASS="pstyle" BGCOLOR="CCCCCC" > 
  <TMPL_VAR NAME="LNAME">
</TD>
</TR>-->
<TR>
<TD  CLASS="pstyle" BGCOLOR="AAAAAA" >
   <B>Company Title: </B>
</TD>
<TD CLASS="pstyle" BGCOLOR="CCCCCC">
    <TMPL_VAR NAME="TITLE">
</TD>
</TR>
<TR>
<TD  CLASS="pstyle" BGCOLOR="AAAAAA">
   <B>Mailing Address: </B>
</TD>
<TD CLASS="pstyle" BGCOLOR="CCCCCC">
   <TMPL_VAR NAME="ADDRESS">&nbsp;
</TD>
</TR>
<TR>
<TD CLASS="pstyle"  BGCOLOR="AAAAAA" >
  <B>Work Number: </B>
</TD>
<TD CLASS="pstyle" BGCOLOR="CCCCCC">
  <TMPL_VAR NAME="WORKNUM">&nbsp;
</TD>
</TR>
<TR>
<TD CLASS="pstyle" BGCOLOR="AAAAAA">
  <B>Home Number: </B>
</TD>
<TD BGCOLOR="CCCCCC" CLASS="pstyle"> 
  <TMPL_VAR NAME="HOMENUM">&nbsp;
</TD>
</TR>
<TR>
<TD  CLASS="pstyle" BGCOLOR="AAAAAA">
   <B>Cellular Number: </B>
</TD>
<TD CLASS="pstyle" BGCOLOR="CCCCCC">
   <TMPL_VAR NAME="CELLNUM">&nbsp;
</TD>
</TR>
<TR>
<TD  CLASS="pstyle" BGCOLOR="AAAAAA">
   <B>ICQ: </B>
</TD>
<TD CLASS="pstyle" BGCOLOR="CCCCCC">
   <TMPL_VAR NAME="ICQ">&nbsp;
</TD>
</TR><TR>
<TD  CLASS="pstyle" BGCOLOR="AAAAAA">
   <B>BirthDay: </B>
</TD>
<TD  CLASS="pstyle" BGCOLOR="CCCCCC">
   <TMPL_VAR NAME="BDAY">&nbsp;
</TD>
</TR>
<TR>
<TD colspan=2 class="pstyle">
<input type=button value="Close Window" onClick="window.close()">

</TD>
</TR>

</TABLE>

</FORM>

</BODY>
</HTML>
