/* Form Style Sheet */

#standardForm {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#formMsg {
    padding-bottom: 50px;
    font-weight: bold;
}

/* Default Form */

table.defaultForm th.header {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #CCCCCC;
    background-color: #1873c8;
    color: #FFFFFF;
}
table.defaultForm td.leftCol {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
}
table.defaultForm td.rightCol {
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 225px;
}

/* Configuration Form */

#configForm th.header {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #CCCCCC;
    background-color: #1873c8;
    color: #FFFFFF;
}
#configForm td.leftCol {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
}
#configForm td.rightCol {
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 225px;
}


/* Global Form */

#globalForm th.header {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #CCCCCC;
    background-color: #1873c8;
    color: #FFFFFF;
}
#globalForm td.leftCol {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
}
#globalForm td.rightCol {
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 225px;
}

