/* Crea2ive.com. A Bubble company */
/*Developed by Razikh. 22/11/2008*/

body {
  text-align:center;
  /*text-align: -moz-center; only for FF :)*/
  font-family: Georgia, Paletino linotype, Serif;
    margin:0;
  /*  scrollbar-face-color: #fff538;
    scrollbar-shadow-color: #333333;
    scrollbar-highlight-color: #ffbe07;
    scrollbar-3dlight-color: #ffcb0e;
    scrollbar-darkshadow-color: #333333;
    scrollbar-track-color: #726b3d;
    scrollbar-arrow-color: #000000;*/ 
   background-image: url(images/bg2.jpg);
  /*background-color: #BFBBAA;   */
}

#frame {
  width:900px;
  margin-top:0px;
  text-align:left;

}

#topmenubar {
  /*float: left;
  width: 900px;
  margin:0px;
  background-image: url(images/topmenubar.png);     */
  width:900px;
  height:20px;
  background: url(images/);
  float: left;
}
#topmenubarmenu{
  float:left;
  margin-left: 600px;
}

#titlebar{
  width:900px;
  height:70px;
  background: url(images/title.jpg);
  float: left;
}
#mainmenu{
  width:900px;
  height:23px;
  background-image: url(images/mainmenubar.png);
  float: left;
}


#pictureslide{
  width:900px;
  float:left;
  height:150px;
  background-color: #CCCCCC;
}


#main {
background-image: url(images/whitblur.jpg);

width: 900px;
height:700px;
float: left;

}
#dul {

float: left;
width: 0px;
}

#cdata {
/* margin: 50px,0px,0px,50px; */
margin-top: 10px;
margin-right: 0px;
margin-bottom: 0px;
margin-left:10px;
 float: left;
 width: 670px;
 height: 700px;
overflow: auto;

 font: 13px Bodani MT;
  text-align: justify;
}
#rm {
  /*margin:10px,0px,0px,10px; */
  margin-top: 10px;
margin-right: 0px;
margin-bottom: 0px;
margin-left:10px;
  float:left;
  width:200px;

}

#footer {

   float: left;
   width: 900px;
  background-color: #00beb7;
  color: #002a27;
}




h1 {

  color: #761508;
  font: 24px Book Antiqua;
  font-weight: bold ;
}

h2 {
  color: #11edfe;
}


h3 {
  font: 15px Paletino Linotype;
}

p {

font: 14px Book Antiqua;
}

p.pline
{

font: 13px Paletino Linotype;
  font-style: italic;
}


a:link,a:visited,a:active{
	text-decoration:none;
	border-bottom: gray 1px dotted;
  color: #002a27;
  font-style: italic;

  font-weight: none;

}

a:hover {
  color: #330000;

}

b {
 color: #71051a;
 font: 15px Book Antiqua;
  font-weight: bold;
}

p.footer{
font: 11px Book Antiqua;
  text-align: center;
  font-weight: bold;
}

b.q {
  color: red;
  font: 15px Book Antiqua;
  font-weight: bold;
}

p.plans{
font: 13px Book Antiqua;
 font-weight: bold;
}

.icon_mail{
padding:6px 0px 3px 18px;
background:url(images/emailicon1.gif) no-repeat left;
}

p.topmenu  {
 font: 14px Ariel;
 margin:0px;
 color: #333333;

}

i {

  font: 15px Book Antiqua;
  font-weight:bold;
  font-style: italic;
}
