<html>
  <head>
    <title>Thank You!</title>
  </head>
 <BODY BGCOLOR="#ffc842" TEXT="#29085a"> 
<br>
    <table border="0">
      <tr>
        <td><TMPL_VAR NAME="MESSAGE"></td>
      </tr>
    </table>
    <a href="index.cgi">Back to ProTS Page</a><br>
    <a href="../index.cgi">Back to the Board</a><br>

  </body>
</html>

  
