<html>
  <head>
    <title>Thank You!</title>
  </head>
 <BODY BGCOLOR="#ffc842" TEXT="#29085a"> 
<br>
    <table border="0">
      <tr>
        <td><h3>Log has been inserted successfully.</h3>
      </tr>
    </table><br>
  <form action="index.cgi" method="post">
  <input type="hidden" name="PID" value="<TMPL_VAR NAME="PID">">
  <input type="submit" name="checkNow" value="Back to Project">
  </form> 
   <a href="view_logs.cgi?PID=<TMPL_VAR NAME="PID">">View Project Logs</a> 
   <a href="../index.cgi">Back to the Board</a><br>
  
  </body>
</html>

  
