<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>ShowUsers</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.ShowUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCuisines</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.ShowCuisines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodItem</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.AddFoodItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodItem</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.DeleteFoodItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFoodItem</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.EditFoodItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFoodItems</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.ShowFoodItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCuisine</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.AddCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCuisine</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.EditCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCuisine</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.DeleteCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubscription</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.AddSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscription</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.DeleteSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubscription</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.EditSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSubscriptions</servlet-name>
        <servlet-class>com.bubble.tiffinbox.servlets.ShowSubscriptions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUsers</servlet-name>
        <url-pattern>/ShowUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodItem</servlet-name>
        <url-pattern>/admin/AddFoodItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodItem</servlet-name>
        <url-pattern>/admin/DeleteFoodItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFoodItem</servlet-name>
        <url-pattern>/admin/EditFoodItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFoodItems</servlet-name>
        <url-pattern>/admin/ShowFoodItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCuisines</servlet-name>
        <url-pattern>/admin/ShowCuisines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCuisine</servlet-name>
        <url-pattern>/admin/AddCuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCuisine</servlet-name>
        <url-pattern>/admin/EditCuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCuisine</servlet-name>
        <url-pattern>/admin/DeleteCuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubscription</servlet-name>
        <url-pattern>/admin/AddSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscription</servlet-name>
        <url-pattern>/admin/DeleteSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubscription</servlet-name>
        <url-pattern>/admin/EditSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSubscriptions</servlet-name>
        <url-pattern>/admin/ShowSubscriptions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
