<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoAction</key>
	<integer>1</integer>
	<key>AutoDetectFore</key>
	<false/>
	<key>AutoUpdate</key>
	<integer>0</integer>
	<key>CustomServer</key>
	<integer>0</integer>
	<key>DAV_Password</key>
	<data>
	</data>
	<key>DAV_ServerURL</key>
	<string></string>
	<key>DAV_UserName</key>
	<string></string>
	<key>ExclusionList</key>
	<array/>
	<key>FTP_Account</key>
	<string></string>
	<key>FTP_Directory</key>
	<string>/virusdefs/mac/virex85/beta/</string>
	<key>FTP_Password</key>
	<data>
	82ijkcUMvy2vE0HstSHrrwTnUd3WgpX5
	</data>
	<key>FTP_ServerURL</key>
	<string>ftp.nai.com</string>
	<key>FTP_UserName</key>
	<string>anonymous</string>
	<key>Locked</key>
	<integer>0</integer>
	<key>LogResults</key>
	<integer>1</integer>
	<key>OAS</key>
	<dict>
		<key>CheckVirusLike</key>
		<integer>1</integer>
		<key>DeleteUponFailedAction</key>
		<false/>
		<key>FindJokes</key>
		<true/>
		<key>RemoveMacros</key>
		<true/>
		<key>ScanArchives</key>
		<true/>
		<key>ScanMailboxes</key>
		<true/>
		<key>ScanNetworkVolumes</key>
		<integer>0</integer>
		<key>ScanOnRead</key>
		<false/>
		<key>ScanOnWrite</key>
		<true/>
		<key>ScanTimeOut</key>
		<integer>45</integer>
		<key>ScannerAction</key>
		<integer>3</integer>
	</dict>
	<key>ODS</key>
	<dict>
		<key>CheckVirusLike</key>
		<integer>1</integer>
		<key>DeleteUponFailedAction</key>
		<false/>
		<key>FindJokes</key>
		<true/>
		<key>RemoveMacros</key>
		<true/>
		<key>ScanArchives</key>
		<integer>1</integer>
		<key>ScanMailboxes</key>
		<false/>
		<key>ScanNetworkVolumes</key>
		<integer>0</integer>
		<key>ScanOnRead</key>
		<integer>0</integer>
		<key>ScanOnWrite</key>
		<integer>0</integer>
		<key>ScanTimeOut</key>
		<integer>200</integer>
		<key>ScannerAction</key>
		<integer>3</integer>
	</dict>
	<key>PrefVersion</key>
	<integer>2</integer>
	<key>UseExclusion</key>
	<integer>0</integer>
	<key>eUpdateServerType</key>
	<integer>0</integer>
</dict>
</plist>
