<html>
  <head>
    <title>Thank You!</title>
  </head>
 <BODY BGCOLOR="#ffc842" TEXT="#29085a"> 
<br>
    <table border="0">
      <tr>
        <td><h3>File has been uploaded!</h3><br>To upload a new file just click on <i>Back to Project</i> button. <b>Do not hit the BACK button on your browser</b></td>
      </tr>
    </table><br>
  <form action="index.cgi" method="post">
  <input type="hidden" name="PID" value="<TMPL_VAR NAME="PID">">
  <input type="submit" name="checkNow" value="Back to Project">
  </form> 
    <a href="../index.cgi">Back to the Board</a><br>

  </body>
</html>

  
