<HTML>
  

    <HEAD><TITLE>WL's Project Tracking System :: ProTS</TITLE>
  <style type=text/css>
  .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 10pt;
        margin-left: 6px;
        margin-right: 6px;
  }
  </style>
  <script language="javascript">
    function go_submit( form )
    {
       form.submit() ;
    }
  </script>


   </HEAD>
  <BODY BGCOLOR="white" Text="#29085a">
<h2><font face="verdana, arial, helvetica" font="white">
Welcome to ProTS - Project Tracking Sytem</h2>
<table bgcolor="29085a" bordercolor="#ffc842" border=1 cellpadding=0 cellspacing=0><tr><td>
<p class="pstyle"><font color="white">User Logged on:</font> <b><font color=#ffc842><TMPL_VAR NAME="WHOIS"></font></b>

</td></tr>
</table>
<br>
<table><tr><td>
<form><input type="button" value="To The Board" onClick="window.open('../index.cgi','_top')"></form></td><td>

<form><input type="button" value="Admin Tools" onClick="window.open('../admin','_top')"></form></td>
<td>

<td><form><input type="button" value="Close Window" onClick="window.close()"></form></td>


</tr>
</table><br>
<form action="index.cgi" method="post">
<table border=1 bordercolor="#29085a" bgcolor="#ffc842" cellpadding=4 cellspacing=0>
<tr valign="top"><td class="pstyle">
Projects: &nbsp;&nbsp;&nbsp;
<select name="PID" size="1"> 

 <TMPL_LOOP NAME=PROJECTS_LOOP>
        <option value="<TMPL_VAR NAME="PID">"><TMPL_VAR NAME="CLIENT"> :: <TMPL_VAR NAME="PNAME"></option>
 </TMPL_LOOP>
 </select>
  &nbsp;&nbsp;&nbsp;       

 <input name="checkNow" type="submit" value="Find it!" >   
 </td>
</tr>
</table>
</form>
<TMPL_IF NAME="PROJECTS">

<table border=1 bordercolor="#29085a" bgcolor="#ffc842" cellpadding=4 cellspacing=0>
<tr>
<td colspan=2">
  <b><font color="green" face="Arial, Helvetica">Basic Project Info:</font></b>
</td>
</tr>
<tr>
  <td class="pstyle">
    Project:
  </td>
  <td class="pstyle">
    <TMPL_VAR NAME="NAME">
  </td>
</tr>
<tr>
  <td class="pstyle">
   Client:
  </td>
  <td class="pstyle"> 
    <TMPL_VAR NAME="CLIENT">
  </td>
</tr> 
<tr>
  <td class="pstyle">
   Pay Rate:
  </td>
  <td class="pstyle"> 
    &nbsp;<TMPL_VAR NAME="PROJECTPAYRATE">
  </td>
</tr>
<tr>
  <td class="pstyle">
   Project Status:
  </td>
  <td class="pstyle">
    &nbsp;<TMPL_VAR NAME="PSTATUS">
  </td>
</tr>

<tr>
<td colspan=2">
  <b><font color="green" face="Arial, Helvetica">Technical Project Info:</font></b>
</td>
</tr>

<tr>
  <td class="pstyle">
    Languages:
  </td>
  <td class="pstyle"> 
    <TMPL_VAR NAME="LANGUAGES">&nbsp;
  </td>
</tr>
<tr>
  <td class="pstyle">
   Modules and Libraries:
  </td>
  <td class="pstyle"> 
    <TMPL_VAR NAME="MODLIB">&nbsp;
  </td>
</tr>
<tr>
  <td class="pstyle">
    Extras :
  </td>
  <td class="pstyle"> 
    <TMPL_VAR NAME="EXTRAS">&nbsp;
  </td>
</tr>
<tr>
  <td class="pstyle">
    Coder In Charge:
  </td>
  <td class="pstyle">
   <a target="detail" onClick="window.open('','detail','width=400,height=350,toolbar=no,directories=no,status=no,scrollbars=yes,resize=no');" href="../viewWorkers.cgi?id=<TMPL_VAR NAME="CODERID">"><TMPL_VAR NAME="CODER"></a>
  </td>
</tr>

<tr>
<td colspan=2">
  <b><font color="green" face="Arial, Helvetica">Development Server Info:</font></b>
</td>
</tr>

<tr>
  <td class="pstyle">
  Server Name:
  </td> 
  <td class="pstyle">
    <TMPL_VAR NAME="DEVSERVERNAME">&nbsp;
  </td>
</tr>
<tr>
  <td class="pstyle">
   Server Path: 
  </td>
  <td class="pstyle">
    <TMPL_VAR NAME="DEVSERVERPATH">&nbsp;
  </td>
</tr>
<tr>
  <td class="pstyle">
    Server Contact Person:
  </td>
  <td class="pstyle">
   <a target="detail" onClick="window.open('','detail','width=400,height=350,toolbar=no,directories=no,status=no,scrollbars=yes,resize=no');" href="../viewWorkers.cgi?id=<TMPL_VAR NAME="DEVCONTACTID">"><TMPL_VAR NAME="DEVCONTACT"></a>
  </td>
</tr>


<tr>
<td colspan=2">
  <b><font color="green" face="Arial, Helvetica">Production Server Info:</font></b>
</td>
</tr>


<tr>
  <td class="pstyle">
  Server Name: 
  </td>
  <td class="pstyle">
    <TMPL_VAR NAME="PRODSERVERNAME">&nbsp;
  </td>
</tr>
<tr>
  <td class="pstyle">
   Server Path: 
  </td>
  <td class="pstyle">
    <TMPL_VAR NAME="PRODSERVERPATH">&nbsp;
  </td>
</tr>
<tr>
  <td class="pstyle">
    Server Contact Person:
  </td>
  <td class="pstyle">
   <a target="detail" href="../viewWorkers.cgi?id=<TMPL_VAR NAME="PRODCONTACTID">"  onClick="window.open('','detail','width=400,height=350,toolbar=no,directories=no,status=no,scrollbars=yes,resize=no');"><TMPL_VAR NAME="PRODCONTACT"></a>
  </td>
</tr>
<tr>
<td colspan=2">
  <b><font color="green" face="Arial, Helvetica">  Estimated Time Info:</font></b>
</td>
</tr>



<tr>
  <td class="pstyle">
  Estimated Design Time:
  </td>
  <td class="pstyle">
    <TMPL_VAR NAME="ESTDESIGNTIME">
  </td>
</tr>
<tr>
  <td class="pstyle">
   Estimated Management Time:
  </td>
  <td class="pstyle">
    <TMPL_VAR NAME="ESTMANAGEMENTTIME">
  </td>
</tr>
<tr>
  <td class="pstyle">
    Estimated Coding Time:
  </td>
  <td class="pstyle">
   <TMPL_VAR NAME="ESTCODINGTIME">
  </td>
</tr>
<tr>
  <td class="pstyle">
   Estimated Testing Time:
  </td>
  <td class="pstyle">
    <TMPL_VAR NAME="ESTTESTINGTIME">
  </td>
</tr>
<tr>
  <td class="pstyle">
    Estimate Maintanence Time:
  </td>
  <td class="pstyle">
   <TMPL_VAR NAME="ESTMAINTANENCETIME">
  </td>
</tr>

<tr>
<td colspan=2">
  <b><font color="green" face="Arial, Helvetica">Project Documents :</font></b>
</td>
</tr>

<tr valign="top"><td class="pstyle">Upload Document:</td>
<td><form action="upload.cgi" method="post" ENCTYPE="multipart/form-data">
<input type="file" name="doc">
<input type="hidden" name="PID" value="<TMPL_VAR NAME="PID">">
<input type="hidden" name="ProjectName" value="<TMPL_VAR NAME="NAME">">
<input type="hidden" name="ClientID" value="<TMPL_VAR NAME="CLIENTID">">
<input type="submit" value="Upload Document">
</form>
</td>
</tr>
<tr>
<td colspan="2" valign="top" class="pstyle">
<form action="view_documents.cgi" method="post">
<input type="hidden" name="PID" value="<TMPL_VAR NAME="PID">">
<input type="hidden" name="project" value="<TMPL_VAR NAME="NAME">">
<input type="hidden" name="clientid" value="<TMPL_VAR NAME="CLIENTID">">
<input type="submit" value="View/Manage Documents"> - To view your documents.
</form>
</td></tr>
<tr>

<td colspan=2">
  <b><font color="green" face="Arial, Helvetica">Project Logs:</font></b>
</td>
</tr>
<tr valign="top">
<td class="pstyle">Enter Today's Log:</td>
<td><form action="insert_log.cgi" method="post">
<input type="hidden" name="ProjectID" value="<TMPL_VAR NAME="PID">">
<input type="hidden" name="UserID" value="<TMPL_VAR NAME="WHOIS">">
<textarea name="Log" cols=40 rows=4 wrap=virtual"></textarea><br>
<input type="submit" value="Add Log">
</form>
</td>
</tr>
<td colspan=2">
  <b><font face="Arial, Helvetica"><a href="view_logs.cgi?PID=<TMPL_VAR NAME="PID">">View Project Logs</a></font></b>
</td>
</tr>










</table>



</TMPL_IF>
</BODY>
</HTML>
