<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>PolicyShell</display-name>

	<context-param>
		<param-name>plugin-factory</param-name>
		<param-value>/WEB-INF/plugin.xml</param-value>
	</context-param>

	<context-param>
		<param-name>bean-factory</param-name>
		<param-value>/WEB-INF/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			com.mcafee.orion.core.servlet.OrionPluginContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>
			com.mcafee.orion.core.servlet.ControllerServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


<!--
Automatically created by Apache Jakarta Tomcat JspC.
Place this fragment in the web.xml before all icon, display-name,
description, distributable, and context-param elements.
-->

    <servlet>
        <servlet-name>com.mcafee.policyshell.jsp.content_jsp</servlet-name>
        <servlet-class>com.mcafee.policyshell.jsp.content_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.mcafee.policyshell.jsp.shell_jsp</servlet-name>
        <servlet-class>com.mcafee.policyshell.jsp.shell_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.mcafee.policyshell.jsp.ViewPolicy_jsp</servlet-name>
        <servlet-class>com.mcafee.policyshell.jsp.ViewPolicy_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.mcafee.policyshell.jsp.content_jsp</servlet-name>
        <url-pattern>/content.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.mcafee.policyshell.jsp.shell_jsp</servlet-name>
        <url-pattern>/shell.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.mcafee.policyshell.jsp.ViewPolicy_jsp</servlet-name>
        <url-pattern>/ViewPolicy.jsp</url-pattern>
    </servlet-mapping>

<!--
All session-config, mime-mapping, welcome-file-list, error-page, taglib,
resource-ref, security-constraint, login-config, security-role,
env-entry, and ejb-ref elements should follow this fragment.
-->
-->

	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All Pages</web-resource-name> <!--name required but unused-->
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.html</url-pattern>
			<url-pattern>*.do</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>orion</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>orion</role-name>
	</security-role>
</web-app>
