<web-app>
	<servlet>
		<servlet-name>folderContents</servlet-name>
		<servlet-class>folderContentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>folderContents1</servlet-name>
		<servlet-class>folderContentServlet1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>folderContents</servlet-name>
		<url-pattern>/contents</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>folderContents1</servlet-name>
		<url-pattern>/contents1</url-pattern>
	</servlet-mapping>

</web-app>