  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  
  .row { width: 1000px; max-width: 100%; min-width: 768px; margin: 0 auto; }
  .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
  
  .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
  [class*="column"] + [class*="column"]:last-child { float: right; }
  [class*="column"] + [class*="column"].end { float: left; }
  

  .row .one     { width: 8.33% }
  .row .two     { width: 16.66% }
  .row .three   { width: 25% }
  .row .four    { width: 33.33% }
  .row .five    { width: 41.66% }
  .row .six     { width: 50% }
  .row .seven   { width: 58.33% }
  .row .eight   { width: 66.66% }
  .row .nine    { width: 75% }
  .row .ten     { width: 83.33% }
  .row .eleven  { width: 91.66% }
  .row .twelve  { width: 100% }
  
  
  /* Custom configs */
  .row .four2     { width: 33.33%; background: #f9e051; height:200px; }
  .row .eight2     { width: 66.66%; background: #e8c60f; height:200px; }
  .row .three2   { width: 25%; background: #9aa28d; height:70px; }
  .row .nine2    { width: 75%; background: #737968; height:70px;  } 
  .row .twelve2  { width: 100%; height:150px }
  .loginbutton { margin:15px 0 0 0;  }
  .row .fourl1     { width: 33.33%; background: #f2850d;  }
  .row .fourl2     { width: 33.33%; background: #facf33;  }
  .row .fourr1     { width: 33.33%; background: #fdf331;  }
  .row .fourr2     { width: 33.33%; background: #c0c0c0;  }
  .form  { background-image: url(images/wood1.jpg); }

/* Input button - image */ 
input.button_add {
    background-image: url(images/checkm.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 24px;           /* make this the size of your image */
    padding-left: 6px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    width: 24px
}


/* Input button - image */ 
input.button_add2 {
    background-image: url(images/add-icon4.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 24px;           /* make this the size of your image */
    padding-left: 6px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    width: 64px
}

input.button_add3 {
    background-image: url(images/icon-logoff2.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 24px;           /* make this the size of your image */
    padding-left: 6px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    width: 84px
}

input.button_add4 {
    background-image: url(images/restore5.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 10px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    width: 24px
}

input.button_add5 {
    background-image: url(images/reporticon2.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 24px;           /* make this the size of your image */
    padding-left: 6px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    width: 86px
}

  
  a {text-decoration: none;}
  h1 {font-family:"Segoe UI Light",cambria,Serif; } 
  body {font-family:"Segoe UI",cambria,Serif; }
  .text {font-family:"Segoe UI",cambria,Serif; }
  li {font-family:"Segoe UI",cambria,Serif; } 
  b {font-family:"Segoe UI Light",cambria,Serif; color:black;}
  
  /* Nicolas Gallagher's micro clearfix */
  .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
  .row:after, .clearfix:after { clear: both; }
  .row, .clearfix { zoom: 1; }  
  
  img { border: none; }
  
  .hometopleftbx { height: 200px; width:200px; background: red}
  .hometoprightbx { height: 200px; }
  .homebotleftbx { height: 100px; }
  .homebotrightbx { height: 100px; }

  .title {font-family:"Segoe UI Light",cambria,Serif; font-size: 68px; }
  .titletext {margin-top: 45px;  font-family:"courier new","Segoe UI Light",cambria,Serif; font-size: 28px; }
  .desc {margin-top: 20px; margin-left: 7px;  color: silver;   font-family:"Segoe UI Light",cambria,Serif; font-size: 20px;}
  .cright {margin-top: 2px; margin-left: 7px;  color: brown;   font-family:"Segoe UI Light",cambria,Serif; font-size: 10px; text-align: center;}   
  
  
  
  /* Mobile */
  @media only screen and (max-width: 767px) {		
    body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
    .container {  }
    
    .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
    
    .column, .columns { width: auto !important; float: none;  }
    .column:last-child, .columns:last-child { float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    
    .column:before, .columns:before, .column:after, .columns:after { content:""; display:table; }
    .column:after, .columns:after { clear: both; }
  
  }
