<HTML>
<HEAD>
  <TITLE>The Projects Form</TITLE>
  <style type=text/css>
  .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 10pt;
        margin-left: 6px;
        margin-right: 6px;
  }
  </style>
</HEAD>

<BODY BGCOLOR="#ffc842" TEXT="#29085a">
<H2><font face="Arial, Helvetica">Insert a new project to PPTS</font></H2>
<FORM ACTION="insertProjects.cgi" METHOD="POST">
<TABLE BORDER="0">
<TR>
<TD colspan=2>
 <B><font face="Arial, Helvetica">BASIC PROJECT INFO:</font></B></br>
<TD>
</TR>

<TR valign=top>
<TD CLASS="pstyle" width="25%">
  <B>Client Name: </B>
</TD>
<TD colspan=2>
  <SELECT NAME="ClientID" SIZE="1" >
          <TMPL_LOOP NAME="CLIENT_LOOP">
               <OPTION VALUE="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></OPTION>
          </TMPL_LOOP>
     </SELECT>


</TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Project Name: </B>
</TD>
<TD colspan=2> 
  <INPUT TYPE="TEXT" NAME="ProjectName" SIZE="30">
</TD>
</TR>

<TR valign=top>
<TD CLASS="pstyle">
  <B>Project Status: </B>
</TD>
<TD colspan=2>
     <SELECT NAME="ProjectStatusID" SIZE="1" >
          <TMPL_LOOP NAME="STATUS_LOOP">
               <OPTION VALUE="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></OPTION>
          </TMPL_LOOP>
     </SELECT>
</TD>
</TR>

<TR valign=top>
<TD CLASS="pstyle">
  <B>Pay Rate:</b><br><small>(US$/hour)</small> </B>
</TD>
<TD colspan=2>
  <INPUT TYPE="TEXT" NAME="ProjectPayRate" SIZE="5">
</TD>
</tr>

<TR>
<TD>
&nbsp;
<TD>
</TR>

<TR valign=top>
<TD colspan=2>
 <B><font face="Arial, Helvetica">TECHNICAL INFO:</font></B>
<TD>
</TR>


<TR valign=top>
<TD CLASS="pstyle">
  <B>Language Implementation:</B><br><small>One Per Line</small>
</TD>
<TD colspan=2>
  <TEXTAREA NAME="Languages" cols=30 rows=2 wrap=virtual></textarea>
</TD>
</tr>

<TR valign=top>
<TD CLASS="pstyle">
  <B>Modules/Libraries Needed:</b><br><small>One Per Line</small> </B>
</TD>
<TD colspan=2>
<TEXTAREA NAME="ModLib" cols=30 rows=5 wrap=virtual></textarea></TD>
</tr>

<TR valign=top>
<TD CLASS="pstyle">
  <B>Extra Info:</b><br><small>E.g.: Cron Jobs, Shell Commands, Majordomo</small> 
</TD>
<TD colspan=2>
<TEXTAREA NAME="Extras" cols=30 rows=5 wrap=virtual></textarea></TD>
</tr>


<TR valign=top>
<TD CLASS="pstyle" width="25%">
  <B>Coder in Charge: </B><br><small>Can't find coder? <a href="addWorkers.html" target="_new">Add New One</a>.</small>
</TD>
<TD colspan=2>
  <SELECT NAME="CoderChargeID" SIZE="1" >
                <OPTION VALUE="0">Select Person</OPTION>
          <TMPL_LOOP NAME="WORKERS_LOOP">
               <OPTION VALUE="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></OPTION>
          </TMPL_LOOP>
     </SELECT>


</TD>
</TR>

<TR>
<TD>
&nbsp;
<TD>
</TR>

<TR valign=top>
<TD colspan=2>
 <B><font face="Arial, Helvetica">DEVELOPMENT SERVER INFO:</font></B>
<TD>
</TR>

<TR valign="top">
<TD CLASS="pstyle">
  <B>Development Server Name: </B>
</TD>
<TD colspan=2>
<INPUT TYPE="TEXT" NAME="DevServerName" SIZE="30">
</TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Path Name for Scripts: </B>
</TD>
<TD colspan=2>
<INPUT TYPE="TEXT" NAME="DevServerPath" SIZE="30">
</TD>
</TR>
<TR valign=top>
<TD CLASS="pstyle">
  <B>Contact Person: </B><br><small>in charge of server</small><br><small>Can't find contact? <a href="addWorkers.html" target="_new">Add New One</a>.</small>

</TD>
<TD colspan=2>
     <SELECT NAME="DevContactID" SIZE="1" >
               <OPTION VALUE="0">Select Person</OPTION>
          <TMPL_LOOP NAME="CONTACT_LOOP">
               <OPTION VALUE="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></OPTION>
          </TMPL_LOOP>
     </SELECT>
</TD>
</TR>

<TR>
<TD>
&nbsp;
<TD>
</TR>

<TR valign=top>
<TD colspan=2>
 <B><font face="Arial, Helvetica">PRODUCTION SERVER INFO: (in hours)</b><br><small>If different than DEVELOPMENT SERVER</small></font></B>
<TD>
</TR>

<TR valign="top">
<TD CLASS="pstyle">
  <B>Production Server Name: </B>
</TD>
<TD colspan=2>
<INPUT TYPE="TEXT" NAME="ProdServerName" SIZE="30">
</TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Path Name for Scripts: </B>
</TD>
<TD colspan=2>
<INPUT TYPE="TEXT" NAME="ProdServerPath" SIZE="30">
</TD>
</TR>
<TR valign=top>
<TD CLASS="pstyle">
  <B>Contact Person: </B><br><small>in charge of server</small><br><small>Can't find contact? <a href="addWorkers.html" target="_new">Add New One</a>.</small>

</TD>
<TD colspan=2>
     <SELECT NAME="ProdContactID" SIZE="1" >
               <OPTION VALUE="0">Select Person</OPTION>
          <TMPL_LOOP NAME="CONTACT_LOOP">
               <OPTION VALUE="<TMPL_VAR NAME=ID>"><TMPL_VAR NAME=NAME></OPTION>
          </TMPL_LOOP>
     </SELECT>
</TD>
</TR>

<TR>
<TD>
&nbsp;
<TD>
</TR>

<TR valign=top>
<TD colspan=2>
 <B><font face="Arial, Helvetica">TIME ESTIMATE INFO:</b></font></B>
<TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Estimated Design Time: </B>
</TD>
<TD colspan=2>
  <INPUT TYPE="TEXT" NAME="EstDesignTime" SIZE="3">
</TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Estimated Management Time: </B>
</TD>
<TD colspan=2>
  <INPUT TYPE="TEXT" NAME="EstManagementTime" SIZE="3">
</TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Estimated Coding Time: </B>
</TD>
<TD colspan=2>
  <INPUT TYPE="TEXT" NAME="EstCodingTime" SIZE="3">
</TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Estimated Testing Time: </B>
</TD>
<TD colspan=2>
  <INPUT TYPE="TEXT" NAME="EstTestingTime" SIZE="3">
</TD>
</TR>
<TR valign="top">
<TD CLASS="pstyle">
  <B>Estimated Maintanence Time: </B>
</TD>
<TD colspan=2>
  <INPUT TYPE="TEXT" NAME="EstMaintanenceTime" SIZE="3">
</TD>
</TR>
<TR>
<TD colspan=3 class="pstyle">
   <INPUT TYPE="SUBMIT" VALUE="Insert Project"> <input type="button" onclick="window.open('index.cgi','_top')" value="Cancel">
</TD>
</TR>

</TABLE>

</FORM>

</BODY>
</HTML>
