<html>
  <head>
    <title>Are you sure you want to delete?</title>
    <style type=text/css>
       .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 10pt;
        margin-left: 6px;
        margin-right: 6px;
        }
  </style>
 
  </head>
  <BODY BGCOLOR="#ffc842" TEXT="#29085a">
  <br>
  <h2><font class="pstyle">Are you sure you want to delete this worker?</font></h2>
  <form action="deleteWorkers.cgi" method="POST">
  <font class="pstyle"><b>ID:</b> <tmpl_var name="ID"><BR>
  <input type=hidden name=id value="<tmpl_var name="ID">">
  <b>Name:</b> <tmpl_var name="NAME"><BR>
 <TMPL_IF TITLE> <b>Title:</b> <tmpl_var name="TITLE"><BR></TMPL_IF>
  <br><br>
  <input type="submit" name="deleteNow" value="Yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=button value="No" onClick="window.open('index.cgi', '_top')">
  </form>

  </body>
</html>

  
