<HTML>
  
    <HEAD><TITLE>Fix Time Admin Tools</TITLE>
  <style type=text/css>
  .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 10pt;
        margin-left: 6px;
        margin-right: 6px;
  }
  </style>
  <script language="javascript">
    function go_submit( form )
    {
       form.submit() ;
    }
  </script>


   </HEAD>
  <BODY BGCOLOR="#29085a" Text="#29085a">
<h2><font face="verdana, arial, helvetica" color="white">FIX YOUR TIME! - <font color=#ffc842><TMPL_VAR NAME="WHOIS"></font> is the user logged in on the system right now. <br>You are only allowed to fix the time for <font color=#ffc842><TMPL_VAR NAME="WHOIS"></font>. <br>To edit another user's time, please contact the user, or login as him/her.</font></h2>
<table><tr><td>
<form><input type="button" value="To Board" onClick="window.open('../index.cgi','_top')"></form></td><td>

<form><input type="button" value="Admin Tools" onClick="window.open('index.cgi','_top')"></form></td>



</tr>
</table>
<table border=1 width="750" bordercolor="white" bgcolor="#ffc842" cellpadding=4 cellspacing=0>
   <tr><td class="pstyle" align="center" width="20"><b>LogID</b></td>
       <td class="pstyle" align="center" width="100"><b>Username</b></td>
       <td class="pstyle" align="center" width="150"><b>Project</b></td>
       <td class="pstyle" align="center"><b>WorkCode</b></td>
       <td class="pstyle" align="center"><b>StartTime</b></td>
       <td class="pstyle" align="center"><b>EndTime</b></td>
       <td class="pstyle" align="center"><b>Fix Time</b></td>
   </tr>
   <TMPL_LOOP NAME=LOOP>
    <tr><td class="pstyle" align="center">
    <form action="fixTime.cgi" method="post"><TMPL_VAR NAME="LOGID"> 
    </td><td class="pstyle" align="center"> 
     <TMPL_VAR NAME="USER">  
    </td>
    <td  class="pstyle" align="center">
      <TMPL_VAR NAME="PID">
    </td>
    <td  class="pstyle" align="center">
      <TMPL_VAR NAME="WORKCODE">&nbsp;
     </td>
    <td  class="pstyle">
      <input type="text" name="StartTime" value="<TMPL_VAR NAME="STIME">" size=17>&nbsp;
    </td>
    <td  class="pstyle" align="center">
      <input type="text" name="EndTime" value="<TMPL_VAR NAME="ETIME">" size=17>&nbsp;
    </td>
   <td  class="pstyle" align="center">
       <input type="hidden" name="LogID" value="<TMPL_VAR NAME=LOGID>">

       <input name="fixNow" type="submit" value="Fix" >   
   </form>
    </td>
    </tr>
   </TMPL_LOOP>

</table>

</BODY>
</HTML>
