<HTML>
<HEAD>
  <TITLE>Modify Worker</TITLE>
  <style type=text/css>
  .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 10pt;
        margin-left: 6px;
        margin-right: 6px;
  }
  </style>
</HEAD>


<BODY BGCOLOR="#ffc842" TEXT="#29085a">
<H2><font face="Arial, Helvetica">Edit a worker under PPTS</font></H2>
<FORM ACTION="modifyWorkers.cgi" METHOD="POST">
<TABLE BORDER="0">
<TR>
<TD CLASS="pstyle">
  <B>First Name: </B>
</TD>
<TD>
  <INPUT TYPE="TEXT" NAME="fname" SIZE="30" VALUE="<TMPL_VAR NAME="FNAME">">
  <INPUT TYPE="HIDDEN" NAME="id" VALUE="<TMPL_VAR NAME="ID">">
</TD>
</TR>
<TR>
<TD CLASS="pstyle">
  <B>Last Name: </B>
</TD>
<TD> 
  <INPUT TYPE="TEXT" NAME="lname" SIZE="30" VALUE="<TMPL_VAR NAME="LNAME">">
</TD>
</TR>
<TR>
<TD  CLASS="pstyle">
   <B>Company Title: </B>
</TD>
<TD>
   <INPUT TYPE="TEXT" NAME="title" SIZE="50" VALUE="<TMPL_VAR NAME="TITLE">">
</TD>
</TR>
<TR>
<TD  CLASS="pstyle">
   <B>Mailing Address: </B>
</TD>
<TD>
   <INPUT TYPE="TEXT" NAME="address" SIZE="60" VALUE="<TMPL_VAR NAME="ADDRESS">">
</TD>
</TR>
<TR>
<TD CLASS="pstyle">
  <B>Work Number: </B>
</TD>
<TD>
  <INPUT TYPE="TEXT" NAME="worknum" SIZE="11" VALUE="<TMPL_VAR NAME="WORKNUM">">
</TD>
</TR>
<TR>
<TD CLASS="pstyle">
  <B>Home Number: </B>
</TD>
<TD> 
  <INPUT TYPE="TEXT" NAME="homenum" SIZE="11" VALUE="<TMPL_VAR NAME="HOMENUM">">
</TD>
</TR>
<TR>
<TD  CLASS="pstyle">
   <B>Cellular Number: </B>
</TD>
<TD>
   <INPUT TYPE="TEXT" NAME="cellnum" SIZE="11" VALUE="<TMPL_VAR NAME="CELLNUM">">
</TD>
</TR>
<TR>
<TD  CLASS="pstyle">
   <B>ICQ: </B>
</TD>
<TD>
   <INPUT TYPE="TEXT" NAME="icq" SIZE="11" VALUE="<TMPL_VAR NAME="ICQ">">
</TD>
</TR><TR>
<TD  CLASS="pstyle">
   <B>BirthDay: </B>
</TD>
<TD>
   <INPUT TYPE="TEXT" NAME="bday" SIZE="11" VALUE="<TMPL_VAR NAME="BDAY">">
</TD>
</TR>
<TR>
<TD colspan=2 class="pstyle">
   <INPUT TYPE="SUBMIT" NAME="updateNow" VALUE="Update Worker">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type=button value="Forget Update" onClick="window.open('index.cgi', '_top')">

</TD>
</TR>

</TABLE>

</FORM>

</BODY>
</HTML>
