<HTML>
<HEAD>
  <TITLE>Modify Work Code</TITLE>
  <style type=text/css>
  .pstyle {
        font-family: verdana, arial, helvetica;
        font-size: 10pt;
        margin-left: 6px;
        margin-right: 6px;
  }
  </style>
</HEAD>


<BODY BGCOLOR="#ffc842" TEXT="#29085a">
<H2><font face="Arial, Helvetica">Edit a work code under PPTS</font></H2>
<FORM ACTION="modifyWID.cgi" METHOD="POST">
<TABLE BORDER="0">
<TR>
<TD CLASS="pstyle">
  <B>First Name: </B>
</TD>
<TD>
  <INPUT TYPE="TEXT" NAME="CodeName" SIZE="30" VALUE="<TMPL_VAR NAME="NAME">">
  <INPUT TYPE="HIDDEN" NAME="CodeID" VALUE="<TMPL_VAR NAME="ID">">
</TD>
</TR>
<TR>
<TD CLASS="pstyle">
  <B>Active? </B>
</TD>
<TD>Yes: 
<input type="radio" name="CodeActive" value="1" <TMPL_VAR NAME="CHECKED_YES">></td>
<td>No: 
<input type="radio" name="CodeActive" value="0" <TMPL_VAR NAME="CHECKED_NO">></td>
</TR>
<TR>
<TD colspan=2 class="pstyle">
   <INPUT TYPE="SUBMIT" NAME="updateNow" VALUE="Update Work Code">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type=button value="Forget Update" onClick="window.open('index.cgi', '_top')">

</TD>
</TR>

</TABLE>

</FORM>

</BODY>
</HTML>
