A {
	text-decoration : none;
	color : blue;
}

A:HOVER {
		text-decoration : underline;
		color : #000000
}

A.news {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #FF6633;
}
A.news:HOVER {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #FF6633;
}



TD.runningtext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #000000;

}

TD.messagetext {
	font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size : 10px;
	line-height: 14px;
	color : #000000;
}

TABLE.tabinside {
	border : 1px solid;
	border-color :#CCCCCC;
	padding : 2
	}

TD.tabtd {
background-color: #EEEEEE;
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 15px;
color : #000000;
text-decoration : none;
}
TD.tabtddiff {
background-color: #EEEEEE;
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 15px;
color : #000000;
text-decoration : none;
font-Weight : Bold;
}


TD.heading {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 18px;
color : #000000;
text-decoration : none;
font-Weight : Bold;
}

TD.tabtd1 {
background-color: #EEEEEE;
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #000000;
text-decoration : none;
font-Weight : Bold;

}

TD.tdstroke {
border : solid;
border-width : 1px;
border-bottom-color : #CCCCCC;
border-left-color : #CCCCCC;
border-right-color : #CCCCCC;
border-top-color : #CCCCCC;

}
	
TD.linkstext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #000000;
text-decoration : none;
}

TD.sublinkstext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 11px;
color : #999999;
font-weight : bold;
text-decoration : none;
}

.orangetext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #FF6633;
}

.Testingorangetext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 11px;
color : #FF6633;
}

.titleblacktext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 11px;
color : #000000;
}

.headlinks {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
font-weight : bold;
color : #000000;
text-transform : uppercase;
}
INPUT.textfield {
	border : 1px solid #CCCCCC;
	font : normal;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : ThreedShadow;
	vertical-align : middle;
	width:150px
}
INPUT.Button{
	background-color : #CCCCCC;
	border : 1px solid Silver;
	font-family : Impact, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font : lighter;
	color:#666666
}

INPUT.InternButton{
	background-color : #efefef;
	border : 1px solid Silver;
	font-family : Verdana, Impact, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-Weight : Bold;
	color:#666666
}

SELECT.Dropmenu{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #333333; 
	text-decoration:none; 
	width="100"
}
