A {
	text-decoration : none;
	color : #000000;
}

A:HOVER {
		text-decoration : none;
		color : #414B56;
		font-weight:bold
}

A.news {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #FF6633;
}
A.news:HOVER {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #FF6633;
}



TD.runningtext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #000000;

}

TD.runningtextHelp {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 12px;
color : #000000;
text-decoration : none;

}

TD.messagetext {
	font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size : 10px;
	line-height: 14px;
	color : #000000;
}

TD.footertext {
	font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size : 10px;
	line-height: 14px;
	color : #000000;
	background:#AFCBE3
}

TD.footertextHelp {
	font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size : 10px;
	line-height: 14px;
	color : #000000;
	
}


TABLE.tabinside {
	border : 1px solid;
	border-color :#8AB1D3;
	padding : 2
	}

TD.tabtd {
background-color: #EEEEEE;
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #000000;
text-decoration : none;
}

TD.tabtd1 {
background-color: #F6F6F6;
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #000000;
text-decoration : none;
}

TD.tdstroke {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 13px; font-weight:bold;
color : #AD9C8C;
border : solid;
border-width : 1px;
border-bottom-color : #CCCCCC;
border-left-color : #CCCCCC;
border-right-color : #CCCCCC;
border-top-color : #CCCCCC;
background-image: url(headbg.gif);
background-repeat: no-repeat;

}
TD.HEADDB{
font-size : 13px; font-weight:bold;
color : #DD9C8C;
}
}
TD.WELCOME{
font-size : 13px; font-weight:bold;
color : #AD9C8C;
}


TD.tdstrokecont {
border : solid;
border-width : 1px;
border-bottom-color : #CCCCCC;border-width : 1px solid;
border-left-color : #CCCCCC; border-width : 1px solid;
border-right-color : #CCCCCC; border-width : 1px solid;
border-top-color : #CCCCCC; border-width : 0px solid;
background-color: #FCF8F4

}
	
TD.linkstext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #000000;
text-decoration : none;
text-transform : uppercase;

}

TD.linkstextHelp {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 12px;
color : #000000;
text-decoration : none;

}

TD.fieldnames {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 11px;
color : #5994C6;
font-weight : bold;
text-decoration : none;
}

.orangetext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
color : #FF6633;
}

TD.tabheading {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 12px;
font-weight:bold;
color : #666666;
background:#DAE7F2
border : solid;
border-width : 1px;
border-bottom-color : #CCCCCC;
border-left-color : #CCCCCC;
border-right-color : #CCCCCC;
border-top-color : #CCCCCC;
}

.titleblacktext {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 11px;
color : #000000;
}

.headlinks {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 10px;
font-weight : bold;
color : #FFFFFF;
text-transform : uppercase;
}
INPUT.textfield {
	border : 1px solid #B1CCE4;
	font : normal;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : ThreedShadow;
	vertical-align : middle;
	width:150px
}

INPUT.textfieldP {
	border : 1px solid #CCCCCC;
	font : normal;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : ThreedShadow;
	vertical-align : middle;
	width:100px
}

INPUT.Button{
	background-color : #D9D4C5;
	border : 1px solid Silver;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight:bold;
	color:#666666
}

INPUT.InternButton{
	background-color : #efefef;
	border : 1px solid Silver;
	font-family : Verdana, Impact, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-Weight : Bold;
	color:#666666
}

SELECT.Dropmenu{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #333333; 
	text-decoration:none; 
	width="100"
}
.select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #808080;
	

}
.textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #808080;
	border : 1px solid #B1CCE4;
}
TD.distribution {
font-family : Verdana,Arial, Helvetica, sans-serif;
font-size : 18px;
color : #000000;
font-weight : bold;
text-decoration : none;
}
TD.heading {
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 15px;
color : #000000;
text-decoration : none;
font-Weight : Bold;
}
TD.tabtddiff {
background-color: #EEEEEE;
font-family : Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 15px;
color : #000000;
text-decoration : none;
font-Weight : Bold;
}
.helpcontenttext {
font-family : Italian,Verdana, Arial, Geneva, Helvetica, sans-serif;
font-size : 12px;
color : #000000;
text-decoration : none;

}
