/*--------------------------------------------------------
  |                     YaBB 2005                        |
  --------------------------------------------------------
  |     Created by: XIMinc http://www.ximinc.com         |
  |                 YaBB http://www.yabbforum.com        |
  --------------------------------------------------------
  |   You may adapt elements of this CSS in your own     |
  |   projects, but please give credit to yabbforum.com. |
  --------------------------------------------------------*/

/* General layout */

a {
	font-weight: normal;
	color: #62686F;
	font-family: Georgia, Verdana, Arial, Sans-Serif;
	text-decoration: none;
}
a:hover {
	color: #000000;
	font-family: Georgia, Verdana, Arial, Sans-Serif;
	text-decoration: underline;
}
body {
	padding: 0;
	background-color: #666666;
	font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
form {
	display: inline;
	padding: 0px;
	margin: 0px;
}
input {
	background-color: #EEFFDB;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Georgia, verdana, helvetica, sans-serif;
	font-size: 12px;
}
input[type="submit"] {
	background-color:#99FF00; 
	color:#330000;
	font-weight: bold;
}
textarea {
	background-color: #FFFFFF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Book Antiqua, Georgia,  verdana, helvetica, sans-serif;
	font-size: 12px;
}
select {	
	background-color: #E8EBEF;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Georgia, verdana, helvetica, sans-serif;
	font-size: 10px;
}
select optgroup {	
	color: #000000;
	font-family: Georgia, verdana, helvetica, sans-serif;
	font-size: 10px;
}
.copyright {
	font-family:Georgia,  Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-align: center;
}
#fscroller {
	line-height: 1.3;
}


/* YaBB navigation links */

.nav, a.nav, a.nav:visited {
	font-weight: bold;
	font-size: 13px;
	color : black;
	font: bold 12px Georgia;
	text-decoration: none;
	background-color: #EBFFAE;
}
a.nav:hover {
	color: #cc3333;
	text-decoration: underline;
}


/* Bubble specific stylesheets */

.section {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
}

/* Styles for Navigation bar displayed */

table#navigation {
	width: 100%;
	border: 0;
	align: center;
	cellpadding: 0;
	cellspacing: 0;
}
table#navigation td {
	background:	     #99CCAA; url(/images/tablecell.gif);
	color:           darkgreen;
	font-size:       12px;
	font-weight:     bold;
	font-style:      normal;
	text-decoration: none;
	font-family:     Georgia, verdana, helvetica, arial, sans-serif;
	text-align:      left;
}

/*
 * New look for the profiles
 */
table#profile {
	width: 100%;
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
}

table#profile th {
	background:#99CC33; url(/images/tablecell.gif);
	color: darkgreen;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: verdana, helvetica, arial, sans-serif;
	text-align: left;
}

table#profile td {
	background:#CCBBCC;	#EECCCC; url(/images/tablecell.gif);
	color: #0A0B0C;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
	text-align: left;
}

/*
 * Profile Menu's CSS
 */

table#profile-menu {
	width:       100%;
	border:      0;
	cellspacing: 0;
	cellpadding: 0;
}

table#profile-menu th {
	background:      #99CC33; url(/images/tablecell.gif);
	color:           darkgreen;
	font-size:       14px;
	font-weight:     bold;
	font-style:      normal;
	text-decoration: none;
	font-family:     Georgia, verdana, helvetica, arial, sans-serif;
	text-align:      center;
}

table#profile-menu td {
	background:      #CCBBCC;	#EECCCC; url(/images/tablecell.gif);
	color:           #DCFAFD;
	font-size:       11px;
	font-weight:     bold;
	font-style:      normal;
	text-decoration: none;
	font-family:     Georgia, verdana, helvetica, arial, sans-serif;
	text-align:      left;
}


/* 
 * This style id is for title bar displayed in the home page
 * 'Forum Name' , Last Post... blah blah
 */
table#board-head {
	width: 100%;
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
}

table#board-head th {
	background:	#99CC33; url(/images/tablecell.gif);
	color: darkgreen;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
	text-align: center;
}

/* 
 * Style for the board content displayed in home page
 * very much similar to section style.
 */

table#board {
	width:       100%;
	border:      0;
	cellspacing: 0;
	cellpadding: 0;
}

table#board th {
	background:      #CCFF66; url(/images/tablecell.gif);
	color:           #330000;
	font-size:       12px;
	font-wight:      bold;
	font-style:      normal;
	text-decoration: none;
	font-family:     Georgia, verdana, helvetica, arial, sans-serif;
	text-align:      left;
}
	
table#board td {
	background:	#EBFFAE; url(/images/tablecell.gif);
	color:      #000000;
	text-align: left;
	font-size:  12px;
}

table#board a {
	color:           #330000;
	font-family:     Georgia, Verdana, Arial, Sans-Serif;
	text-decoration: none;
}

/* For section top, normally the top row of the table */ 

/* Common things for table , th, tr, td 
 * Can be overriden by special class
 */

table#section {
	width:       100%;
	border:      0;
	cellspacing: 0;
	cellpadding: 0;
}

table#section th {
	background:	#CCFF66; url(/images/tablecell.gif);
	color: darkgreen;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
	text-align: center;
}

table#section td {
	background:	#EBFFAE; url(/images/tablecell.gif);
	text-align: left;
}


table#section-error {
	width: 100%;
	border: 0;
}

table#section-error th {
	background:	#CCFF66; url(/images/tablecell.gif);
	color: #990000;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
	text-align: center;
}

table#section-error td {
	background:	#EBFFAE; url(/images/tablecell.gif);
	color: #FF0033;
	text-align: left;
}
table#section-error td a{
	background:	#EBFFAE; url(/images/tablecell.gif);
	color: #FF0033;
	text-align: left;
}

/* Special ones */
.search input, select {
	background-color: #EEFFDB;
	border: 1px solid #B1BDC9;
	color: #000000;
	font-family: Georgia, verdana, helvetica, sans-serif;
	font-size: 12px;
}
.special {
	text-align: left;
}
.section-top {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
	background:	#CCFF66; url(/images/tablecell.gif);
	color: darkgreen;
}

.section-row {
	background-color: #EEFFDB;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Georgia, Verdana, sans-serif;
	color: #AAAAAA;
	text-align : left;
}

/* YaBB alternating bgcolors */
/*
.windowbg {
	background-color: #EEFFDB;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Georgia, Verdana, sans-serif;
	color: #AAAAAA;
}
.windowbg2 {
	background-color: #FEFEFE;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family: Georgia,  Verdana, sans-serif;
	color: #ABCDEF;

}
*/
.windowbg3 {
	background-color: #000000;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-family:Georgia,  Verdana, sans-serif;
	color: #304B58;
}

/* Misc/title/category colors */

.dividerbot {
	border-bottom: 1px #a7b8cc solid;
}
.dividertop {
	border-top: 1px #a7b8cc solid;
}
.hr {
	color: #273F49;
}
.bordercolor {
	font-size: 12px;
	font-family: Georgia, verdana, arial, helvetica, sans-serif;
	background-color: #9966CC;
}
.small {
	font-size: 10px;
	font-family: Georgia,   verdana, arial, helvetica, sans-serif;
}
.top{
	font-style: normal;
	font-size: 11px;
	color: #475F79;
}
.titlebg {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
	color: darkgreen;
	background:	#CCFF66;  url(/images/tablecell.gif);
}
.titlebg a{
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}
.titlebg a:hover{
	text-decoration: underline;
}
.catbg {
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, helvetica, arial, sans-serif;
	color:  #554433;
	background-color:#EEFFDB /* #AABBCC; */
}
.catbg a{
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #ffffff;
}
.catbg a:hover{
	text-decoration: underline;
}
.message {
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: Georgia, verdana, arial, helvetica, sans-serif;
	color: #62686F;
}
.message a{
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #900000;
	background-color: transparent;
}
.message a:hover{
	text-decoration: underline;
	color: #000000;
	background-color: transparent;
}
.droppageindex {
	float: left;
	font-family: Georgia, verdana, sans-serif;
	background-color: #ffffff;
	color: #000000;
	padding: 0px;
	padding-left: 4px;
	margin: 0px;
	border: 2px inset;
}
.droppages{
	height: 14px;
	padding-left: 1px;
	padding-right: 1px;
}
.droppages a{
	color: #000000;
	font-size: 9px;
	font-weight: normal;
}
.highlight {
	font-size: 13px;
	font-family: Georgia,  verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFF33;
	color: #000000;
}

/* Image fonts */

.imgbg {
	font-style: normal;
	font-size: 10px;
	color: #ffffff;
}
.imgcatbg {
	font-style: normal;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.imgtitlebg {
	font-style: normal;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}
.imgwindowbg {
	font-style: normal;
	font-size: 9px;
	color: #005177;
}
.imgmenu {
	font-style: normal;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

/* Post quote/code colors */

.quote {
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #000000;
	background-color: #E8EBEF;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
.code {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-family: Courier, Courier New, Sans-Serif;
	color: #000000;
	background-color: #cccccc;
	border: 1px #34689A solid;
	width: 90%;
	padding: 4px;
}
.editbg{
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-family: Georgia, Verdana, Helvetica, Arial, Sans-Serif;
	background-color: #FFFEDF;
	border: 1px #cc0000 solid;
	width: 90%;
	padding: 4px;
}

/* Anything below here is just for the template */

#container{
	background-color: #666666;
	width: 80%; 
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-top: 0px;
	margin-bottom: 10px;
	font-family: Georgia, verdana, arial, helvetica, sans-serif;
}
.topline{
	border-top: 1px solid #34689A;
}
.topheader{
	background: #4981B8;
	margin-bottom: 10px;
}
.boardcontainer {
	background-color: #bbbbbb;
	border-bottom: 3px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
.displaycontainer {
	width: 100%;
	padding: 1px;
	background-color: #bbbbbb;
}
.headerwelc{
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
}
.headerwelc a{
	color: #ffffff;
}
.headerwelc a:hover{
	text-decoration: underline;
}
.headerinfo{
	color: #ffffff;
}
.headerinfo a{
	color: #eeeeee;
	text-decoration: underline;
}
.headerinfo a:hover{
	color: #80DAF2;
}
.seperator {
	border-bottom: 3px solid #abcdef;
	border-left: 1px solid #eeeeee;
	/*background-color: #666666; */
}
.navbarcontainer{
	margin: 0px;
}