/* CSS Document */

ul {
    list-style: none;
    margin-left: 0;
    display: block;
    text-align: center;
}
li.xc {
    list-style: none;
    display: inline;
}
div.xcx, div.xcc {
    position: relative;
    display: inline;
}
li.xc > div.xcx, li.xc > div.xcc {
    position: static;
    /* margin-left: -37em; */
}
div.xcx a, div.xcc a {
    position: absolute;
    left: -25em;
    top: 2em;
}
div.xcx > a, div.xcc > a {
    position: static;
}
div.xcx a:link, div.xcx a:visited, div.xcc a:link, div.xcc a:visited {
    color: #000;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}


