/* CSS Document */

#resultsList {
    padding-top: 30px;
    text-align: center;
    display: block;
    width: 100%;
}
#resultsList td {
    border: 1px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;
}
#resultsList td.leftCol {
    width: 100px;
}
#resultsList td.rightColItem {
    width: 400px;
    font-weight: bold;
    text-align: left;
}
#resultsList td.rightColSubItem {
    width: 400px;
    text-align: left;
}
#resultsList td.rightColBottomItem {
    width: 400px;
    text-align: left;
}
#resultsList a {
    text-decoration: none;
}
#resultsList img {
    border: 0px;
}

/* Results */

#results {
    padding-top: 30px;
}
#resultsHeader {
    padding-bottom: 30px;
}
#resultsHeader td {

}
#resultsHeader td.leftCol {
    width: 100px;
}
#resultsHeader td.rightCol {
    width: 400px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

/* Results Details */

#resultsDetails {
    
}
#resultsDetails td.leftCol {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
}
#resultsDetails td.rightCol {
    text-align: left;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 225px;
}
#resultsDetails li {
    text-align: left;
    padding-top: 4px;
    padding-bottom: 2px;
}
#resultsDetails img {
    padding-right: 5px;
}
#resultsDetails a {
    text-decoration: none;
}

/* Chart Details */

#chart {
    padding-top: 30px;
}
#chartHeader {
    padding-bottom: 30px;
}
#chartHeader td {

}
#chartHeader td.leftCol {
    width: 100px;
}
#chartHeader td.rightCol {
    width: 400px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

